@import url('https://fonts.googleapis.com/css?family=Bangers');

#text,
#my-bet {
  display: flex;
  justify-content: left;
  font-family: Bangers, cursive;
  font-style: italic;
  text-align: center;
  font-size: 35px;
  color: rgb(255, 31, 31);
  text-shadow: rgb(0, 0, 0) 2px 2px 2px;
  z-index: 9;
}

#result,
#bet-amount,
#chips {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  width: 100px;
  height: 40px;
  border-radius: 50%;
  background-color: white;
  opacity: 0.9;
  transition: background-color 0.3s ease;
}

#div-mybet,
#div-chips {
  display: flex;
  justify-content: right;
  align-items: center;
  margin-top: 0px;
  width: 80%;
}

body {
  font-family: Arial, sans-serif;
  background-image: url('../img/background-img.jpg');
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  text-align: center;
  margin-top: 20px;
}

h1 {
  color: white;
  font-size: 36px;
  font-style: italic;
}

#ruleta-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

#ruleta {
  width: 60%;
  display: block;
  margin: 0 auto;
  transition: transform 4s ease-out;
}

.roulette-board {
  display: grid;
  grid-template-columns: repeat(13, 50px);
  gap: 5px;
  justify-content: center;
  background-color: floralwhite;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.number {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  color: white;
  width: 50px;
  height: 50px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  position: relative;
}

.number.red {
  background-color: red;
}

.number.black {
  background-color: black;
}

.zero {
  background-color: green;
  grid-column: 1 / 2;
  grid-row: 1 / span 3;
  height: 100%;
}

.number:hover,
.zero:hover {
  opacity: 0.8;
}

.bet-options {
  display: flex;
  gap: 10px;
  margin-top: 5px;
  justify-content: center;
  align-items: center;
}

.bet-option {
  position: relative;
  height: 50px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  background-color: white;
  color: black;
}

.bet-option:hover {
  opacity: 0.8;
}

#div-result {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin-top: 20px;
  width: 80%;
}

#div-bet {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  width: 80%;
}

#bet,
#bet-number {
  margin: 20px;
  width: 200px;
  height: 40px;
  border-radius: 5px;
  background-color: white;
  opacity: 0.9;
  transition: background-color 0.3s ease;
}

#add-chips-btn,
.btn {
  border: 1px solid white;
  align-items: center;
  justify-content: center;
  height: 30px;
  background-color: green;
  color: white;
  font-size: 20px;
  cursor: pointer;
  border-radius: 5px;
}

.myButton {
  box-shadow: 3px 4px 0px 0px #8a2a21;
  background: linear-gradient(to bottom, #c62d1f 5%, #f24437 100%);
  border-radius: 18px;
  border: 1px solid #d02718;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 16px;
  padding: 7px 50px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #810e05;
  font-style: italic;
}

.myButton:hover {
  background: linear-gradient(to bottom, #f24437 5%, #c62d1f 100%);
}

.myButton:active {
  position: relative;
  top: 1px;
}

.chip {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30px;
  height: 30px;
  background-color: green;
  color: #fff;
  text-align: center;
  line-height: 30px;
  border-radius: 50%;
  border: solid 2px #fff;
  z-index: 100;
  font-size: 14px;
}

.input {
  padding: 5px;
  font-size: 16px;
  border-width: 1px;
  border-color: #cccccc;
  background-color: #ffffff;
  color: #000000;
  border-radius: 5px;
  border-style: solid;
  box-shadow: 0px 0px 5px rgba(66, 66, 66, 0.75);
}

.input:focus {
  outline: none;
}

/*KeyFrames */

@keyframes winAnimation {
  0% {
    transform: scale(0) rotate(0deg);
    transform-origin: 0% 0%;
  }

  50% {
    transform: scale(2) rotate(360deg);
    transform-origin: 0% 50%;
  }

  100% {
    transform: scale(0) rotate(0deg);
    transform-origin: 0% 0%;
  }
}

@keyframes spinAnimation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
